body {
        font-size: 11.5pt;
        color: white;
        line-height: 1.75em;
}

body,input {
        font-family: Georgia, serif;
}

h1{
        font-weight: normal;
        letter-spacing: -1px;
		text-align: center;
		font-size: 60px;
		color: #FFFFFF;
		
}

h2 {
        font-size: 2.25em;
		text-align: center;
}

h2{
        color: #2C2B2B;
        margin-bottom: 1em;
}

#local-header {
        /*height: 75px;*/
        position: relative;
        background: #6E6E6E url(images/img03.jpg) top left no-repeat;
        padding: 45px;
        color: #FFFFFF;
        /*width: 888px;*/
        border: solid 1px #7E7E7E;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
}

#page {
        padding: 45px 45px 15px 45px;
        position: relative;
        width: 890px;
        margin: auto;
}

#wrapper {
        position: relative;
        width: 980px;
        margin: 75px auto 0 auto;
        /*background: #FFFFFF;*/
}