*
{
    box-sizing: border-box;
}
body
{
    font-family: Arial;
    margin: 0;
    color: #C0B2D6;
}
.header
{
    padding: 80px;
    text-align: center;
    background: blue;
    color: white;
}
.header h1
{
    font-size: 40px;
}
.navbar {
    overflow: hidden;
    background-color: black;
}
.navbar a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right
{
    float: right;
}
.navbar a:hover
{
    color: #C7C7C7;
}
.row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.side
{
    -ms-flex: 30%;
    flex: 30%;
    background-color: #2C2B2B;
    padding: 20px;
}
.main
{
    -ms-flex: 70%;
    flex: 70%;
    padding: 20px;
    background-color: #5C5B5B;
}
.info
{
    background-color: lightgrey;
    padding: 20px;
    width:30%;
    -ms-flex: 70%;
    color:black;
    border-style:solid;
    border-width:2px;
    border-radius:15px;
}
.gameplay
{
    font-family: italic;
    width:70%;

}
.footer
{
    padding: 20px;
    text-align: center;
    background: #ddd;
}
footer
{
    font-family: Arial;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(36, 33, 34);
    color: white;
    text-align: left;
    padding: 10px;
}
.footer-tab
{
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    text-align: center;
    display: inline;
    float: left;
    background-color: rgb(36, 33, 34);
    text-decoration: none;
    color: white;
}
a.footer
{
    background-color: rgb(36, 33, 34);
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}  
a.footer:hover
{
    background-color: rgb(17, 17, 17);
}
@media screen and (max-width: 700px)
{
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px)
{
    .navbar a {
        float: none;
        width: 100%;
    }
}
.button
{
    color:black;
}

.username, .current_username {
    margin: 5px;
    font-weight: bold;
}

.profile-picture {
    width: 50px;
    height: 50px;
}

.tab {
    float: left;
    width: 10%;
}

.collapse-menu, .content-item {
    padding: 14px 20px;
    border: black 1px solid;
    text-align: center;
    background-color: black;
    color: white;
}

.collapse-menu-content {
    position: absolute;
    width: 10%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
