.content {
    width: 90%;
    margin: auto;
}

.header {
	padding: 80px;
    text-align: center;
    background: blue;
    color: white;
    width: 100%;
    border-bottom: black 2px solid;
    display: inline-block;
}
.header h1 
{
    font-size: 40px;
}
.header nav {
    float: right;
}

.header a {
    color: black;
    text-decoration-line: none;
}*
{
    box-sizing: border-box;
}
.body 
{
    font-family: Arial;
    margin: 0;
	color: #C0B2D6;
}
.navbar {
    overflow: hidden;
    background-color: black;
}
.navbar a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right 
{
    float: right;
}
.navbar a:hover 
{
    background-color: #dde;
    color: white;
}
.row 
{  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	color: white;
}
.side 
{
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
	color:white;
}
.header-title {
    float: left;
    display: inline;
    margin: 0;
	color: white;
}

.navigation-tab {
    padding: 10px;
    float: left;
	color: white;
}

.navigation-tab p {
    margin: 0;
	color: white;
}

.navigation-separator {
    width: 20px;
    float: left;
}
.white-text
{
	color:white;
}
.main
{	
	color:black;
}
footer {

}

