.img-container {
    width: 80%;
    margin: 0 auto 0 auto;
}

.post-img {
    width: 100%;
    display: block;
}

.img-control-button {
    width: 40%;
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto 0 auto;
}

#page-display {
    width: 20%;
    text-align: center;
    border: black 1px solid;
}