.img-container {
    width: 60%;
    margin: 0 auto 0 auto;
    height: 80%;
}

.post-img {
    width: 100%;
    display: block;
}

.img-control-button {
    width: 50%;
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    margin: 0 auto 0 auto;
}