#post-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: auto;
    align-items: center;
}

.post-list-item {
    width: 90%;
    height: 120px;
    border: 2px solid black;
    margin: 5px 0 5px 0;
    float: left;
    background-color: #5C5B5B;
}

.post-list-item img {
    height: 100px;
    margin: 10px;
    float: left;
}

.post-anchor {
    color: black;
    text-decoration-line: none;
}

.post-anchor h2 {
    margin: 5px;
}
