#post-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: auto;
    align-items: center;
}

.post-list-item {
    width: 90%;
    height: 300px;
    border: 2px solid black;
    margin: 5px 0 5px 0;
    float: left;
    background-color: #5C5B5B;
	
}

.post-list-item img {
    width: 480px;
    height: 270px;
    margin: 2px;
    float: left;
	
}
.post-list-item a {
    color:white;
}

.post-anchor {
    color: black;
    text-decoration-line: none;
}

.post-anchor h2 {
    margin: 5px;
}
