.comment {
    margin: 10px 0 10px 0;
}

.comment img {
    float: left;
}

.comment-content {
    float: left;
    width: 75%;
}

#comment-input {
    margin: auto;
    padding: 5px;
    height: 64px;
}

#comment-input img {
    width: 64px;
    height: 64px;
    float: left;
}

.comment-content textarea {
    margin-left: 5px;
}

#comment-list {
    display: flex;
    flex-flow: column-reverse nowrap;
    width: 100%;
}

.comment-text {
    margin: 5px;
}

#comment-button {
    float: none;
}

#error-message {
    color: red;
    font-weight: bold;
}

