#post-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: space-around;
}

.post-list-item {
    width: 90%;
    height: 120px;
    border: 2px solid black;
    margin: 5px 0px 5px 0px;
    float: left;
}

.post-list-item img {
    width: 116px;
    height: 116px;
    margin: 2px;
    float: left;
}

.post-anchor {
    color: black;
    text-decoration-line: none;
}

.post-anchor h2 {
    margin: 5px;
}
